.icon-label {
  position: relative;
  right: 80px;
  top: 3px;
  font-size: 30px;
  cursor: pointer;
  color: var(--text);
  transition: all 0.3s ease;
}

.icon-label.active {
  color: var(--textsidebar);
  z-index: 999;
  top: 20px;
}

.sidebar {
  position: fixed;
  width: 300px;
  height: 500px;
  background-color: var(--sidebar);
  color: white;
  border-radius: 25px 0 0 25px;
  right: 0;
  transform: translateX(300px);
  transition: all 0.8s ease;
  top: 30px;
}

.sidebar.active {
  transform: translateX(0);
}

.elements-sidebar {
  position: absolute;
  width: 230px;
  height: 400px;
  top: 70px;
  left: 40px;
  color: var(--textsidebar);
}

.darkmode {
  position: relative;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  top: 5px;
}

.icon-darkmode {
  position: relative;
  font-size: 25px;
  cursor: pointer;
}

.icon-darkmode.rotate {
  transform: rotateY(180deg);
}

.about {
  position: relative;
  font-size: 20px;
  top: 290px;
  display: flex;
  justify-content: space-around;
}

.icon-about {
  position: relative;
  font-size: 25px;
  cursor: pointer;
}
