@keyframes scroll {
  0% {
    top: 15px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 15px;
  }
}

.scroll-mouse {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

.scroll-mouse.hide {
  opacity: 0;
}

.scroll-wheel {
  width: 20px;
  height: 45px;
  border: 2px solid var(--text);
  border-radius: 20px;
  opacity: 0.7;
  margin: 0 auto;
}

.ponteiro {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 15px;
  background-color: var(--text);
  width: 5px;
  height: 10px;
  border-radius: 25px;
  animation: scroll infinite 1s;
}
