.main {
  position: absolute;
  color: var(--text);
  top: 7rem;
  width: 80%;
}

.apresentation-main {
  font-size: 20px;
  font-family: sans-serif;
  position: absolute;
  top: 50px;
  left: 80px;
}

.apresentation-main-sub {
  font-size: 18px;
  font-weight: 500;
}

.color-Jotta {
  font-size: 25px;
  color: #70898f;
  font-weight: 700;
}

.color-Front {
  color: #70898f;
  font-weight: 700;
}

.myName,
.Iam {
  font-weight: 500;
}
