.main {
  position: absolute;
  color: var(--text);
  top: 7rem;
  width: 80%;
}

.apresentation-main {
  font-size: 20px;
  position: absolute;
  top: 130px;
  left: 80px;
}

.apresentation-main-sub {
  font-size: 18px;
  font-weight: 500;
}

.color-Jotta {
  font-size: 25px;
  color: var(--elements);
  font-weight: 700;
}

.color-Front {
  color: var(--elements);
  font-weight: 700;
}

.myName,
.Iam {
  font-weight: 500;
}

/* social icones */

.contacts {
  position: relative;
  top: 200px;
}

.links-sociais {
  display: flex;
  gap: 5px;
  position: relative;
  top: -50px;
  left: 5px;
}

.links-sociais a {
  text-decoration: none;
  color: var(--text);
  margin: 0 5px 0 0;
}

.links-sociais a:hover {
  opacity: 0.8;
}

.github,
.linkedin {
  position: relative;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 2px solid transparent;
  border-radius: 15px;
  animation: rotateAndChangeColor 5s infinite linear;
}

@keyframes rotateAndChangeColor {
  0% {
    box-shadow: inset 0 0 0 2px #4685ff;
  }
  50% {
    box-shadow: inset 0 0 0 2px #ddd2;
  }
  100% {
    box-shadow: inset 0 0 0 2px #9061ff;
  }
}

.background {
  position: absolute;
  width: 100%;
  border: none;
}

.background-white {
  position: absolute;
  display: none;
  border: none;
}

.background-white.active {
  position: absolute;
  width: 100%;
  display: block;
}
