@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.header {
  user-select: none;
}

.header-content {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  backdrop-filter: blur(5px);
  z-index: 999;
}

.enterprise-p {
  position: relative;
  left: 4rem;
  color: var(--text);
  top: -3px;
  cursor: pointer;
}

.enterprise-p:hover {
  opacity: 0.9;

  .front-dev {
    display: none;
  }
}

.front-dev {
  font-size: 15px;
}

.about-button {
  cursor: pointer;
}
