.header {
  user-select: none;
}

.header-content {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
  font-size: 2rem;
  font-family: sans-serif;
  backdrop-filter: blur(5px);
}

.enterprise-p {
  position: relative;
  left: 4rem;
}

.icon-label {
  position: absolute;
  right: 4rem;
  font-size: 30px;
  cursor: pointer;
  color: #1d1d1d;
}

.icon-label.active {
  color: white;
  z-index: 999;
}

.sidebar {
  position: fixed;
  width: 300px;
  height: 500px;
  background-color: #1d1d1d;
  color: white;
  border-radius: 25px 0 0 25px;
  right: 0;
  transform: translateX(300px);
  transition: all 0.8s ease;
  top: 30px;
}

.sidebar.active {
  transform: translateX(0);
}
