.header {
  user-select: none;
}

.header-content {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
  font-size: 2rem;
  font-family: sans-serif;
  backdrop-filter: blur(5px);
}

.enterprise-p {
  position: relative;
  left: 4rem;
  color: var(--text);
}
