#skills {
  position: absolute;
  width: 80%;
  left: 10%;
  height: 400px;
  border: 3px solid #0d101c;
  background-color: var(--Babout);
  top: 230vh;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.skills {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 40px;
  font-size: 25px;
  color: var(--elements);
  font-weight: 700;
}

.desc-skills {
  color: var(--text);
  font-size: 15px;
  position: relative;
  top: 15px;
  width: 80%;
  font-weight: 410;
}

.certificados-titulo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 28px;
  font-size: 25px;
  color: var(--elements);
  font-weight: 700;
}

.certificados {
  color: var(--text);
  font-size: 15px;
  margin: 3% 1%;
  font-weight: 500;
}

.senacsp {
  font-weight: 700;
  color: #f7bd23;
}
