@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.footer {
  position: relative;
  top: 380vh;
  width: 90%;
  left: 5%;
  height: 280px;
  background-color: var(--skills);
  border-radius: 15px 15px 0 0;
  font-family: "Montserrat", sans-serif;
}

.footer.active {
  top: 430vh;
}

.descricao {
  color: var(--text);
  font-size: 24px;
  font-weight: 600;
  position: relative;
  top: 40px;
  left: 80px;
}

.dev {
  font-size: 16px;
  font-weight: 400;
}

.redes-sociais {
  position: absolute;
  display: flex;
  gap: 15px;
  font-size: 25px;
  opacity: 0.8;
  left: 50%;
  transform: translate(-50%);
  bottom: 30px;
}

.redes-sociais a {
  text-decoration: none;
  color: var(--text);
}

.redes-sociais a:hover {
  opacity: 0.6;
}

.navegação {
  position: absolute;
  top: 40px;
  left: 80%;
  color: var(--text);
  font-size: 16px;
}

.navegação label h4:hover {
  opacity: 0.8;
}

.labels {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  top: 50px;
}

.feitoem {
  position: absolute;
  display: flex;
  left: 80px;
  bottom: 38px;
  color: var(--text);
}
