#projects {
  position: absolute;
  width: 1200px;
  left: 50%;
  transform: translate(-50%);
  height: 520px;
  top: 290vh;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  position: relative;
  left: 80px;
  top: 15px;
  font-size: 25px;
  color: var(--elements);
  font-weight: 700;
}

.title-project {
  position: relative;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: var(--text);
  font-weight: 600;
}

.img {
  position: relative;
  border-radius: 10px;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  height: 40%;
}

.tec {
  position: relative;
  left: 50%;
  transform: translate(-35%);
  top: 50px;
  color: var(--text);
  font-weight: 600;
}

.clickme {
  position: relative;
  top: 60px;
  color: var(--text);
  left: 50%;
  transform: translate(-25%);
  opacity: 0.8;
}

.tecs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 22%;
  color: white;
  font-size: 30px;
}

.dev-image {
  position: absolute;
  left: 50%;
  top: -150px;
  transition: all 0.8s ease;

  transform: translateX(0);
}

.dev-image.move {
  transform: translateX(600px);
}

.setup-image {
  position: absolute;
  top: -50px;
  left: -10%;
  transition: all 0.8s ease;

  transform: translateX(0);
}

.setup-image.move {
  transform: translateX(-600px);
}

.project {
  position: relative;
  width: 180px;
  height: 250px;
  background-color: var(--projetos);
  border-radius: 15px;
  border-bottom: 5px solid var(--text);
  transition: all 0.8s ease;

  transform: translateX(0);
}

.project:hover {
  opacity: 0.8;
}

.projects {
  position: relative;
  display: flex;
  align-items: center;
  left: 5%;
  top: 40px;
  gap: 10px;
}

.project.active {
  position: absolute;
  transform: translateX(115%);
  z-index: 1;
  width: 500px;
}

.projects2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  top: 50px;
  right: 5%;
}

.project.active2 {
  position: absolute;
  transform: translateX(-115%);
  z-index: 1;
  width: 500px;
}
