#projects {
  position: absolute;
  width: 1200px;
  left: 50%;
  transform: translate(-50%);
  height: 520px;
  top: 290vh;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
}

.buttons {
  position: absolute;
  width: 1250px;
  left: 50%;
  transform: translate(-50%);
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.title {
  position: relative;
  left: 80px;
  top: 15px;
  font-size: 25px;
  color: var(--elements);
  font-weight: 700;
}

.projects {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40px;
  left: -2%;
}

.project-todolist {
  position: relative;
  width: 120px;
  height: 200px;
  background-color: var(--skills);
  border-radius: 15px;
  border-bottom: 5px solid black;
  left: -2%;
}

.project-calculadora {
  position: relative;
  width: 250px;
  height: 400px;
  top: 10px;
  background-color: var(--skills);
  border-radius: 15px;
  border-bottom: 5px solid black;
}

.project-mario {
  position: relative;
  width: 250px;
  height: 400px;
  top: 10px;
  left: 2%;
  background-color: var(--skills);
  border-radius: 15px;
  border-bottom: 5px solid black;
}

.project-weather {
  position: relative;
  width: 250px;
  height: 400px;
  top: 10px;
  left: 4%;
  background-color: var(--skills);
  border-radius: 15px;
  border-bottom: 5px solid black;
}

.project-carrinho-compras {
  position: relative;
  width: 120px;
  height: 200px;
  background-color: var(--skills);
  border-radius: 15px;
  border-bottom: 5px solid black;
  left: 6%;
}

.project-piano {
  position: relative;
  width: 250px;
  height: 400px;
  background-color: var(--skills);
  border-radius: 15px;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  display: none;
}

.button-icon-left {
  font-size: 20px;
  color: white;
  position: relative;
  cursor: pointer;
}

.button-icon-right {
  font-size: 20px;
  color: white;
  position: relative;
  cursor: pointer;
}

.button-icon-left:hover {
  opacity: 0.8;
}
.button-icon-right:hover {
  opacity: 0.8;
}
