@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  height: 450vh;
  overflow-x: hidden;
}

:root {
  --background: #050816;
  --textsidebar: #050505;
  --sidebar: #fafafa;
  --text: #fafafa;
  --elements: #4685ff;
  --skills: #ddd2;
  --projetos: #9061ff;
}

.light {
  --background: #f3f3ee;
  --textsidebar: #fafafa;
  --text: #050505;
  --sidebar: #050505;
  --elements: #9061ff;
  --skills: #ddd;
}

/* Largura e cor da barra */
::-webkit-scrollbar {
  width: 5px;
}

/* Cor do rastro da barra */
::-webkit-scrollbar-track {
  background-color: var(--textsidebar);
}

/* Cor do indicador da barra */
::-webkit-scrollbar-thumb {
  border-radius: 0 0 0 5px;
  background-color: var(--sidebar);
}

/* Estilizando a borda do indicador da barra */
::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}
