* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  height: 400vh;
}

:root {
  --background: #050816;
  --textsidebar: #050505;
  --sidebar: #fafafa;
  --text: #fafafa;
  --elements: #4685ff;
}

.light {
  --background: #f3f3ee;
  --textsidebar: #fafafa;
  --text: #050505;
  --sidebar: #050505;
  --elements: #9061ff;
}

/* Largura e cor da barra */
::-webkit-scrollbar {
  width: 5px;
}

/* Cor do rastro da barra */
::-webkit-scrollbar-track {
  background-color: var(--textsidebar);
}

/* Cor do indicador da barra */
::-webkit-scrollbar-thumb {
  border-radius: 0 0 0 5px;
  background-color: var(--sidebar);
}

/* Estilizando a borda do indicador da barra */
::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}
