/* @media (min-width: 1920px) {
  #skills {
    top: 180vh;
  }

  .icons {
    top: 180vh;
  }
}

@media (min-width: 1367px) and (max-width: 1920px) {
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .desc-skills {
    font-size: 13px;
  }

  .desc-about {
    width: 50%;
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (min-width: 321px) and (max-width: 480px) {
}

@media (max-width: 320px) {
} */
