/*@media (min-width: 1920px) {
  #skills {
    top: 180vh;
  }

  .icons {
    top: 180vh;
  }
}

@media (min-width: 1367px) and (max-width: 1920px) {
  #skills {
    top: 175vh;
  }

  .icons {
    top: 175vh;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .menu {
    left: 650px;
  }

  .section-aboutme {
    height: 550px;
  }

  .desc-about {
    width: 550px;
  }

  .idiomas {
    top: 20px;
  }

  #skills {
    top: 175vh;
    height: 520px;
  }

  .icons {
    top: 175vh;
    height: 520px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (min-width: 321px) and (max-width: 480px) {
}

@media (max-width: 320px) {
}
